* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: red;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.container-body {
  width: 800px;
  height: 300px;
  margin: auto;
  background-color: #cbdce4;
  border: 1px solid transparent;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #0a79df;
}

.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

.selection {
  font-size: 1rem;
  color: #141616;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  background-color: rgb(36, 117, 176, 0.8);
  color: #fff;
  cursor: pointer;
}

.selection:hover {
  background-color: rgb(36, 117, 176);
}

.selection option {
  background-color: #659ec7;
  border-radius: 5px;
}

.selection option:hover {
  background-color: #469bf0;
}

.selection optgroup::selection {
  background-color: #000;
}

.button {
  border: 1px solid transparent;
  padding: 1px 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
}

.button-reset {
  background-color: rgba(33, 143, 119, 0.8);
}

.button-reset:hover {
  background-color: rgba(33, 143, 119, 1);
  outline: none;
}

.btn .btn-dark {
  border: 1px solid transparent;
  padding: 5px;
}

.final-score {
  color: #3c40c6;
  font-size: 1.1rem;
}

.timeleft,
.score {
  font-size: 1.1rem;
  font-weight: 500;
  color: #273136;
}

.input {
  width: 250px;
  padding: 3px 6px;
  border: 1px double #273136;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}
